body {
  margin: 0;
  background-color: #e0f1f7;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

form {
  width: 300px;
  height: 120px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-start;
}

form.adduser-form {
  top: 22px;
}

button {
  width: 100px;
  margin: 0 auto;
  position: relative;
  left: -3px;
  top: 3px;
}

.form-container {
  width: 800px;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.results-container {
  margin: auto;
  position: relative;
  width: 600px;
  display: flex;
  flex-direction: column;
}

.search-result {
  border-radius: 12px;
  border: 1px solid #bfbfbf;
  margin-bottom: 5px;
  padding: 5px;
  word-wrap: normal;
  word-break: normal;
  white-space: normal;
}
/* 
button.search-button {
  top: 2px;
}

button.add-button {
  top: 25px;
} */

td {
  width: 285px;
}

.app {
  margin-top: 10px;
}